/* Element Styles */

.movable {
    -fx-cursor: move;
}

.resize_corner {
    -fx-fill: image-pattern("/images/resizeCorner.png");
    -fx-cursor: se-resize;
}

.selected {
    -fx-stroke: #00FF00 !important;
}

/* Room Styles */

.Room {
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.3), 40, 0, 0, 0);
    -fx-stroke: #3C3C3C;
    -fx-stroke-width: 2px;
}

.Office {
    -fx-fill: #bae2ff;
}

.Conference {
    -fx-fill: #ede0d3 !important;
}

.Hall {
    -fx-fill: #fffed9;
}

/* Content Styles */

.Table {
    -fx-fill: #88653F;
    -fx-stroke: #6a4e31;
    -fx-stroke-width: 2px;
    -fx-stroke-type: inside;
}

.Document {
    -fx-fill: image-pattern("/images/document_placeholder.png");
}

.addDocument {
    -fx-fill: image-pattern("/images/add_document_placeholder.png");
}

.Chair {
    -fx-fill: #151515;
    -fx-stroke: black;
    -fx-stroke-width: 2px;
    -fx-stroke-type: inside;
}

/* Person Styles */

.Person {
    -fx-fill: image-pattern("/images/gesicht_user.png");
    -fx-stroke: black;
    -fx-stroke-width: 2px;
    -fx-stroke-type: inside;
}

.Admin {
    -fx-fill: image-pattern("/images/gesicht_admin.png") !important;
}

.Self {
    -fx-fill: image-pattern("/images/gesicht_self.png") !important;
}

.Person-Name .text{
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}